.home-page{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.main-content{
    display: flex;
    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
}
.content-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 1rem;
}